:root{
--main-color: #FF6464;
--main-color-alt:#EDF7FA;
--main-font-size:18px;
--main-transition: 0.3s;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Heebo", sans-serif;
    background-color: white;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-title{
  margin: 100px auto;
  padding: 10px 20px;
  border: 2px solid black;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
@media (max-width:767px) {
  .main-title{
    font-size: 20px;
  }
}
.main-title:hover{
  color: white;
  border:2px white solid;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after{
content: "";
width: 12px;
height: 12px;
background-color: var(--main-color);
position: absolute;
border-radius: 50%;

top: 50%;
transform: translateY(-50%);
}
.main-title::before{
  left:-30px;
}
.main-title::after{
  right:-30px;
}
.main-title:hover::before{
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.container{
    margin-left: auto;
    margin-right: auto;
    color: black;


  }
  @media (min-width:768px){
    .container{
        width: 750px;
    }
  }
  @media (min-width:992px){
    .container{
        width: 970px;
    }
  } 
  @media (min-width:1200px){
    .container{
        width: 1170px;
    }
  } 
  /* --------------- Header ---------------- */
  header{
    position: sticky;
    top: 0px;
    z-index: 999;
  }
  header .container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    height: 60px;
    box-shadow: 0 0 10px #EDF7FA;
    position: relative;
    
  }
  @media(max-width:767px){
    header .container {
      width: 100%;
      height: 60px;
 
    }
  }

  header .container .links{
    width: 50%;
    
  }  
  @media(max-width:767px){
    header .container .links{
      width: 100%;
    }
  }
  @media ((max-width:1199px) and (min-width:767px)){
    header .container .links{
      width: 70%;
      
    }
  }

  header .container .links > ul{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
    
  }
  @media(max-width:767px){
    header .container .links > ul{
      width: 100%;
      flex-wrap: nowrap;
    }
  }
  header .links ul > li > a{
    font-size: 22px;
    padding: 15px;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
  }
  @media(max-width:767px){
    header .links ul > li > a{
      font-size: 15px;

    }

  }
  @media ((max-width:1199px) and (min-width:767px)) {
    header .links ul > li > a{
      font-size: 15px;
    }
  }

  header .links ul > li > a::before{
    content: "";
    width: 100%;
    height: 4px;
    background: var(--main-color);
    position: absolute;
    top: 0%;
    left: -200px;
    transition: var(--main-transition);
  }

  header .links ul > li > a:hover{
    background-color: var(--main-color-alt);
  }
  header .links ul > li > a:hover::before{
    left: 0;
    background-color: var(--main-color);
  }
  /* end header */

  /* start landing */
  .landing{
    position: relative;
  }
  .landing::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--main-color-alt);
    z-index: -1;
    transform: skewY(-6deg);
     transform-origin: left top  ;
   
  }


  .landing .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding-bottom: 120px;
    padding: 0 100px;

  }
  @media (max-width:767px){
    .landing .container{
      flex-flow: column-reverse;
      justify-content: space-evenly;
      padding-bottom: 20px;
      padding: 0 20px;
    }
  }
  .landing .container .text{
    flex: 1;

  }
  @media (max-width:767px) {
    .landing .container .text{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .landing .container .text p{
    max-width: 90%;
    font-size: 20px;
    line-height: 1.7;
    margin: 5px 0 35px;
    color: black;

  }
  @media (max-width:767px) {
    .landing .container .text p{
      text-align: center;
    }
  }
  .landing .container .text h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 50px;
    margin: 0;
  }
  @media (max-width:767px) {
    .landing .container .text h1{
      max-width: 100%;
      text-align: center;
      font-size: 30px;
    }
  }
  .landing .container .text .Resume{
    /* margin-top: 20px; */
    color: White;
    text-decoration: none;
    position: relative;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width:767px) {
    .landing .container .text .Resume{
      text-align: center;
      font-size: 18px;
    }
  }
  .landing .container .text .Resume:hover::before{
    transform: skewY(0deg);
    border: 1px white solid;

  }
  .landing .container .text .Resume::before{
    position: absolute;
    top: 0;
    left:0;
    content: "";
    width: 100%;
    height: 50px;
    transition: 0.3s ease-in-out;
    transform: skewY(-6deg);
    z-index: -1;
    background-color: var(--main-color);
  }
  .landing .container .image{
  
  }

  .landing .container .image img{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, #ff7eb3, #ffb400) border-box;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
  }
  @media (max-width:767px) {
    .landing .container .image img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      z-index: 500;
      margin-top: 50px;
    }
  }
  .landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
  }
  .landing .go-down i{
    animation: bouncing 1.5s infinite;
  }

  /* ***************** Works **************** */
  
  .Works{
    position: relative;
  }
  .Works .container{
    display: flex;
    flex-direction: column;
  }
  .Works .go-down{
    
    color: var(--main-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
  }
  .Works .go-down i{

    animation: bouncing 1.5s infinite;
  }
  .Works .container .main-title{
    margin-top: 50px;
  }
  .Works .work-content{
    width: 100%;
    display: flex;
    
    background-color: var(--main-color-alt);
    margin-bottom: 50px;

  }
  @media (max-width:767px) {
    .Works .work-content{
      flex-direction: column;
      align-items: center;

    }
  }
  .Works .work-content:hover .image{
    filter: grayscale(100%);
  }
  .Works .work-content .image img{
    width: 240px;
    height: 200px;
  }
  .Works .work-content .content{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;

    position: relative;
    overflow: hidden;

  }
  @media (max-width:767px) {
    .Works .work-content .content{
      flex-direction: column;
      align-items: center;

    }
  }
  .Works .work-content .content::before{
    content: "";
    position: absolute;
    bottom:-200px;
    right: 0;
    height: 200px;
    width: 2px;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
  }
  .Works .work-content .content:hover::before{
    bottom:0;
    right: 0;
  }
  
  .Works .work-content .content .type .git{

    margin-left: 20px;
    font-size: 30px;
    color: black;
  }
  .Works .work-content .content h1{
    margin: 10px 0 10px 0;
  }
  @media (max-width:767px) {
    .Works .work-content .content h1{
      font-size: 25px;
    }
  }

  .Works .work-content .content .type{
    
    color: rgb(110, 118, 120);
    font-size: 20px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Works .work-content .content .date{
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 9999px;
    margin-right: 20px;
    padding: 5px;
    color: white;
  }
  .Works .work-content .content p{
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    max-width: 98%;
    
  }
  @media (max-width:767px) {
    .Works .work-content .content p{
      padding: 0 20px;
    }
  }
  .contacts .container .contact-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  .contacts .container .contact-me a{
    margin-left: 30px;
  }
  .contacts .container .contact-me a i{
    font-size: 50px;
    color: black;
  }
  @media (max-width:767px) {
    .contacts .container .contact-me a i{
      font-size: 40px;
    }
  }
  footer{
    background-color: var(--main-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 20px;
  }
  @media (max-width:767) {
    footer{
      font-size: 15px;
    }
  }
  footer span{
    color: white;
    font-size: bold;
  }


    @keyframes up-and-down {
      0%, 100%{
        top: 0;
      }
      50%{
        top: -50px;
      }
    }
    @keyframes bouncing {
      0%,10%,20%,50%,80%,100%{
        transform: translateY(0);
      }
      40%,60%{
        transform: translateY(-10px);
      }
    }
    @keyframes left-move {
      50%{
        left: 0;
        width: 12px;
        height: 12px;
      }
      100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
    }
    @keyframes right-move {
      50%{
        right: 0;
        width: 12px;
        height: 12px;
      }
      100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
    }


